@model IEnumerable<SMS.WebApp.Models.Studdent>
@{
   int idNo = 1;

}

<a asp-action="CreateOrEidt" asp-controller="Student" class=" btn btn-sm btn-success">Create Student</a>
<div class=" container">
    <div class="row">

        <table class=" table table-responsive "> 
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@idNo</td>
                        <td>@item.Name</td>
                        <td>@item.Address</td>
                        <td>@item.Phone</td>
                        <td>@item.Email</td>
                        <td>@item.City</td>
                        <td>
                            <a asp-action="CreateOrEidt" asp-controller="Student" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success">Edit</a>
                            <a asp-action="Delete" asp-controller="Student" asp-route-id="@item.Id" onclick="return confirm ('Are You Sure delete This Item?')" class="btn btn-sm btn-danger">Delete</a>
                            <a asp-action="Details" asp-controller="Student" asp-route-id="@item.Id"  class="btn btn-sm btn-outline-info">Details</a>
                        </td>
                    </tr>
                    idNo++;
                }
                
            </tbody>

        </table>

    </div>

</div>